fastapi
uvicorn[standard]
httpx

# Database
sqlalchemy
pymysql
alembic

# Google Cloud
google-cloud-secret-manager
protobuf

# Authentication
pyjwt[crypto]
cryptography

# Environment Variables
python-dotenv

# Password Hashing
bcrypt
passlib[bcrypt]

# Background Tasks
redis
celery[redis]

# Other
pydantic
email-validator  # email validation in Pydantic models
starlette